# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# OS-specific
.DS_Store
Thumbs.db

# dotenv
.env

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build cache (optional)
dist/
build/
.cache/

# Coverage reports (if using testing tools)
coverage/
